@using OpenCocktail.Models
@model OpenCocktail.Models.Cocktail
        

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Cocktail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            Recette:
        </dt>
        
            @{List<Ingredient> ListeIngredients = (List<Ingredient>)ViewData["ingrlist"];}
            @foreach (var item in ListeIngredients)
            {
                <dd>
                    @item.Nom
                </dd>
            }
            
        
    </dl>
</div>
<p>

    @Html.ActionLink("Retour à la liste", "Index")
</p>
